<!DOCTYPE html>
<html>
<head>
    
    <title><%= typeof title !== 'undefined' ? title : 'Todo Application' %></title>
    <meta charset="utf-8">
</head>
<body>

<header>
</header>

<!-- PAGE CONTENT -->
<%- body %>

<hr>
<footer>
    <p>© 2025 Todo Application</p>
</footer>

</body>
</html>

